[user]
	email = matt.zuba@goodwillaz.org
	name = Matt Zuba
[core]
	excludesfile = /home/{{ ansible_env.USER }}/.gitignore
[credential]
	helper = store
[merge]
	ff = only
[submodule]
	recurse = true
[gpg]
	program = gpg
[tag]
	forceSignAnnotated = false
