[Unit]
Description=Run ansible-pull
After=time-sync.target
Requisite=network-online.target

[Service]
Environment=ANSIBLE_VAULT_PASSWORD_FILE=%h/.ansible-vault-passwd
ExecStart=%h/.local/bin/ansible-pull -o -d {{ ansible.work_dir }} -U {{ ansible.repo_url }}
StandardOutput=file:{{ ansible.log_file }}
StandardError=file:{{ ansible.log_file }}
