# see "man logrotate" for details
# rotate log files weekly
weekly

# keep 4 weeks worth of backlogs
rotate 4

# create new (empty) log files after rotating old ones
create

# uncomment this if you want your log files compressed
#compress

# packages drop log rotation information into this directory
include /home/{{ user }}/.local/etc/logrotate.d

# system-specific logs may be configured here
size 1000M
/home/{{ user }}/.local/var/log/*.log {
    maxsize 100M
    daily
    missingok
    rotate 8
    compress
    notifempty
    nocreate
}
