[Unit]
Description=Setup a secure tunnel to %I
After=network.target
StartLimitIntervalSec=0

[Service]
EnvironmentFile=%h/.local/etc/default/secure-tunnel@%i
ExecStart=/usr/bin/ssh -NT -o ServerAliveInterval=60 -o ExitOnForwardFailure=yes -L ${LOCAL_PORT}:${REMOTE_ADDR}:${REMOTE_PORT} ${BASTION}

# Restart every >2 seconds to avoid StartLimitInterval failure
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
